<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Management API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Room Management API</a>
    </nav>
    <div class="container mt-5">
        <h1 class="display-4">Welcome to the Room Rate Management API</h1>
        <p class="lead">This API allows you to manage room rates, overridden rates, and discounts for your room.</p>
        <hr class="my-4">
        <h2>Features</h2>
        <ul>
            <li>Room Rates Management: Create, update, delete, and list room rates.</li>
            <li>Overridden Rates Management: Create, update, delete, and list overridden rates for specific dates.</li>
            <li>Discounts Management: Create, update, delete, and list discounts.</li>
            <li>Lowest Rates Calculation: Calculate the lowest room rate for specific dates considering overridden rates and discounts.</li>
        </ul>
        <h2>API Documentation</h2>
        <p>You can access the API documentation at:</p>
        <ul>
            <li><a href="/swagger/" target="_blank">Swagger UI</a></li>
            <li><a href="/redoc/" target="_blank">Redoc</a></li>
        </ul>
        <h2>Getting Started</h2>
        <p>To get started with the API, follow the instructions in the <a href="https://github.com/sawar007/room-rate-management/blob/main/README.md" target="_blank">README file</a>.</p>
    </div>
</body>
</html>
